#!/usr/bin/env python3

import csv
import requests

# Constants

URL      = 'https://yld.me/raw/gDQD'
POINTS   = [1, 1.5, 1.5, 1, 1.5, 2.5, 2]
MAX      = None
SECTIONS = (
    'Commands',
    'Shell',
    'Files and Processes',
    'I/O Redirection',
    'Networking',
    'Shell Scripting',
    'Filters'
)

# Fetch data

# Compute individual scores

# Summarize score statistics

# Summarize section statistics
