/* mok.c */

#include <ctype.h>
#include <errno.h>
#include <limits.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <unistd.h>

char *mock(const char *s) {
    return NULL;
}

int main(int argc, char *argv[]) {
    for (int i = 1; i < argc; i++) {
	char *t = mock(argv[i]);
	puts(t);
    }
    return EXIT_SUCCESS;
}
