#!/usr/bin/env python3

import collections

# Structures

Person = collections.namedtuple('Person', 'first_name last_name')

# Variables

People = [
    Person('Peter'   , 'Bui'),
    Person('Alyssa'  , 'Ritter'),
    Person('Carlos'  , 'Basurto'),
    Person('Genesis' , 'Argueta'),
    Person('Joshua'  , 'Bui'),
]

# Default sort

# Sort by last_name with helper function

# Sort by last_name with lambda expression

# Sort by last_name then first_name using two sorts

# Sort by last_name then first_name using one sort
